<h1>YerbaVibes</h1>
<nav>
  <ul class="desktop" [class.active]="showMenu">
    <li>
      <a (click)="onCloseMenu()" routerLink="/"><p>Home</p></a>
      <hr />
    </li>
    <li>
      <a (click)="onCloseMenu()" routerLink="/shop"><p>Shop</p></a>
      <hr />
    </li>
    <li>
      <a (click)="onCloseMenu()" routerLink="/about"><p>About</p></a>
      <hr />
    </li>
    <li>
      <a (click)="onCloseMenu()" routerLink="/contact"><p>Contact</p></a>
      <hr />
    </li>
  </ul>
  <img
    (click)="onShowMenu()"
    src="assets/images/header/chevron-down.svg"
    class="icon mobile"
    [class.activeButton]="showMenu"
    alt="menu"
  />
</nav>
<div class="right-panel">
  <ul>
    <li class="cart-box">
      <a [routerLink]="['cart']">
        <img
          class="icon menu-icons"
          src="assets/images/header/cart.svg"
          alt="cart"
      /></a>
      @if(cartLength>0){
      <div class="cart-amount">
        <p>{{ cartLength < 10 ? cartLength : "9+" }}</p>
      </div>
      }
    </li>
    <li>
      <img
        class="icon menu-icons"
        src="assets/images/header/search.svg"
        alt="search"
      />
    </li>
    <li>
      <img
        class="icon menu-icons"
        src="assets/images/header/person.svg"
        alt="user"
      />
    </li>
  </ul>
</div>
