<h1>YerbaVibes</h1>
<nav>
  <ul class="desktop" [class.active]="showMenu">
    <li>
      <a routerLink="/"><p>Home</p></a>
      <hr />
    </li>
    <li>
      <a routerLink="/shop"><p>Shop</p></a>
      <hr />
    </li>
    <li>
      <a routerLink="/about"><p>About</p></a>
      <hr />
    </li>
    <li>
      <a routerLink="/contact"><p>Contact</p></a>
      <hr />
    </li>
  </ul>
  <img
    (click)="onShowMenu()"
    src="assets/images/header/chevron-down.svg"
    class="icon mobile"
    [class.activeButton]="showMenu"
    alt="menu"
  />
</nav>
<div class="right-panel">
  <ul>
    <li><img class="icon" src="assets/images/header/cart.svg" alt="cart" /></li>
    <li>
      <img class="icon" src="assets/images/header/search.svg" alt="search" />
    </li>
    <li>
      <img class="icon" src="assets/images/header/person.svg" alt="user" />
    </li>
  </ul>
</div>
