<div class="wrapper">
  <div class="content">
    <h2>About YerbaVibes</h2>
    <div>
      <p>
        YerbaVibes is a simple project of a webshop based entirely on front-end
        technologies. The shop focuses solely on front-end development, with
        products preloaded into the website and user cart information stored in
        the browser's local storage. Powered by Angular, this approach ensures a
        smooth and efficient user experience without the complexity of backend
        systems.
      </p>
    </div>
    <hr />
    <h3>Technologies</h3>
    <div class="technologies">
      <img alt="HTML" src="assets/images/about/html5.svg" />
      <img alt="CSS" src="assets/images/about/css3.svg" />
      <img alt="TS" src="assets/images/about/typescript.svg" />
      <img alt="Angular" src="assets/images/about/angular.svg" />
    </div>
    <hr />
    <h3>Photo Sources</h3>
    <div>
      <a href="https://www.matemundo.pl">
        <img src="assets/images/about/mate_mundo.png" alt="matemundo"
      /></a>
    </div>
  </div>
</div>
