<div class="wrapper">
  <div class="section">
    <h2 class="title">YerbaVibes</h2>
    <hr />
    <ul>
      <li>Copyright {{ year }} | Poland</li>
      <li>Made with ❤</li>
    </ul>
  </div>
  <div class="section">
    <h2 class="title">Accounts</h2>
    <hr />
    <ul>
      <li>Create Account</li>
      <li>Log In</li>
    </ul>
  </div>
  <div class="section">
    <h2 class="title">Company</h2>
    <hr />
    <ul>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="section">
    <h2 class="title">Policy</h2>
    <hr />
    <ul>
      <li>Privacy</li>
      <li>Security</li>
    </ul>
  </div>
</div>
