<div class="product">
  <a [routerLink]="['/product', product().id]">
    <img
      [src]="
        'assets/images/shop/products/' + product().type + '/' + product().image
      "
      [alt]="product().image"
    />
  </a>
  <div class="product-content">
    <a href="">
      <p>
        {{ product().name }}
        {{
          product().weight >= 1000
            ? product().weight / 1000 + " kg"
            : product().weight + " g"
        }}
      </p>

      <div class="price-box">
        <p [class.discount]="product().isDiscount">{{ product().price }} $</p>
        @if(product().isDiscount){
        <p>{{ product().discountPrice }} $</p>
        }
      </div>
    </a>
    <app-product-add (quantityOutput)="readQuantity($event)" />
  </div>
</div>
