<div class="categories">
  <div class="category">
    <h2 class="category-title">Net weight</h2>
    <div class="category-list">
      <ul>
        <li>
          <input type="checkbox" name="1000g" id="1000g" />
          <p>1000g</p>
        </li>
        <li>
          <input type="checkbox" name="750g" id="750g" />
          <p>750g</p>
        </li>
        <li>
          <input type="checkbox" name="500g" id="500g" />
          <p>500g</p>
        </li>
        <li>
          <input type="checkbox" name="250g" id="250g" />
          <p>250g</p>
        </li>
        <li>
          <input type="checkbox" name="150g" id="150g" />
          <p>150g</p>
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="category">
    <h2 class="category-title">Brands</h2>
    <div class="category-list">
      <ul>
        <li>
          <input type="checkbox" name="CBSe" id="CBSe" />
          <p>CBSe</p>
        </li>
        <li>
          <input type="checkbox" name="Pajarito" id="Pajarito" />
          <p>Pajarito</p>
        </li>
        <li>
          <input type="checkbox" name="RosaMonte" id="RosaMonte" />
          <p>Rosa Monte</p>
        </li>
        <li>
          <input type="checkbox" name="Taragui" id="Taragui" />
          <p>Taragui</p>
        </li>
        <li>
          <input type="checkbox" name="Yaguar" id="Yaguar" />
          <p>Yaguar</p>
        </li>
        <li>
          <input type="checkbox" name="CruzDeMalta" id="CruzDeMalta" />
          <p>Cruz De Malta</p>
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="category">
    <h2 class="category-title">Price</h2>
    <div class="category-price">
      <div class="currency-box">
        <input
          type="number"
          name="min-price"
          id="min-price"
          placeholder="from"
        />
        <p class="currency">$</p>
      </div>
      <span>-</span>
      <div class="currency-box">
        <input type="number" name="max-price" id="max-price" placeholder="to" />
        <p class="currency">$</p>
      </div>
    </div>
  </div>
</div>
