<div class="categories">
  <div class="category">
    <h2 class="category-title">Net weight</h2>
    <div class="category-list">
      <ul>
        <li *ngFor="let weight of weights">
          <input
            type="checkbox"
            [id]="weight"
            [value]="weight"
            (change)="onFilterWeight(weight, $event)"
          />
          <p>{{ weight >= 1000 ? weight / 1000 + " kg" : weight + " g" }}</p>
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="category">
    <h2 class="category-title">Brands</h2>
    <div class="category-list">
      <ul>
        <li *ngFor="let brand of brands">
          <input
            type="checkbox"
            [id]="brand"
            [value]="brand"
            (change)="onFilterBrands(brand, $event)"
          />
          <p>{{ brand }}</p>
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="category">
    <h2 class="category-title">Price</h2>
    <div class="category-price">
      <div class="currency-box">
        <input
          type="number"
          name="min-price"
          id="min-price"
          placeholder="from"
          [formControl]="minPrice"
        />
        <p class="currency">$</p>
      </div>
      <span>-</span>
      <div class="currency-box">
        <input
          type="number"
          name="max-price"
          id="max-price"
          placeholder="to"
          [formControl]="maxPrice"
        />
        <p class="currency">$</p>
      </div>
    </div>
  </div>
</div>
