<div class="wrapper">
  <div class="content">
    <div class="heading">
      <h3>Our Customers Love Us!</h3>
      <p>
        See why our customers rave about our premium yerba mate and top-notch
        service!
      </p>
    </div>
    <div class="testimonials">
      @for (customer of customers; track customer.id) {
      <div class="testimonial">
        <img
          [src]="'assets/images/home/persons/' + customer.name + '.jpg'"
          [alt]="customer.name"
        />
        <p class="review">"{{ customer.review }}"</p>
        <div class="info">
          <p class="name">{{ customer.name + " " + customer.surname }}</p>
          <p class="occupation">{{ customer.work }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
