<div class="wrapper">
  <div class="carousel">
    @for (item of carousels; track item.id) {
    <div class="item-wrapper" [style.left]="currentSlidePos + '%'">
      <div class="item">
        <div class="content">
          <h2>{{ item.header }}</h2>
          <p>
            {{ item.content }}
          </p>
          <a [routerLink]="['yerba-mate']"><p>Shop Now!</p></a>
        </div>
        <img
          class="carousel-image"
          [src]="'assets/images/shop/carousel/' + item.image + '.png'"
          [alt]="item.image"
        />
      </div>
    </div>
    }
    <img
      src="assets/images/shop/carousel/arrow-right.svg"
      alt="arrow right navigation"
      class="arrow arrow-right"
      (click)="onNextSlide()"
    />
    <img
      src="assets/images/shop/carousel/arrow-left.svg"
      alt="arrow left navigation"
      class="arrow arrow-left"
      (click)="onPreviousSlide()"
    />
  </div>

  <hr />

  <div class="categories">
    <h2>What would you like to buy?</h2>
    <div class="categories-items">
      @for (category of categories; track category.id) {
      <div class="category-item">
        <img
          class="category-image"
          [src]="'assets/images/shop/categories/' + category.image + '.jpg'"
          [alt]="category.image"
        />
        <a [routerLink]="[category.link]"
          ><div class="category-outline">
            <h2></h2>
            {{ category.title }}
          </div></a
        >
      </div>
      }
    </div>
  </div>
</div>
