<div class="wrapper">
  <div class="carousel">
    <div class="item">
      <div class="content">
        <h2>New Yerba Mate from Yaguar Now Available!</h2>
        <p>
          Discover the latest addition to our collection - the premium yerba
          mate from Yaguar. Known for its rich flavor and exceptional quality,
          Yaguar yerba mate offers a unique blend that is perfect for both
          seasoned yerba drinkers and newcomers alike. Try it today and
          experience the authentic taste of Yaguar!
        </p>
        <a href="#"><p>Shop Now!</p></a>
      </div>
      <img src="assets/images/shop/carousel/jaguar.png" alt="3 jaguar yerba" />
    </div>
  </div>
</div>
