/* h1	3.0
h2	2.5	
h3	2.0
h4	1.7	
h5	1.4
h6	1.2
p	1
*/

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--second-color);
  background-color: var(--main-color);
}

h1 {
  font-size: 3rem;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 1.25rem;
  font-size: 1.7rem;
}

li {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr {
  width: 0%;
  border: none;
  height: 1px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

li:hover hr,
li:active hr {
  width: 80%;
}

.mobile {
  display: none;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: var(--second-color);
}

@media (max-width: 600px) {
  .desktop {
    position: absolute;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -100%);
    background-color: var(--second-color);
    color: black;
    width: 60%;
    justify-content: center;
    flex-direction: column;
    border-end-end-radius: 8px;
    border-end-start-radius: 8px;
    padding: 4rem 0;
    transition: all 0.3s ease-in-out;
  }
  .active {
    top: 0%;
    transform: translate(-50%, 0);
  }

  h1 {
    font-size: 2rem;
  }

  .nav {
    position: relative;
  }
  .mobile {
    display: block;
    position: relative;
    z-index: 4;
    transition: all 0.3s ease-in-out;
  }

  .activeButton {
    transform: rotate(180deg);
  }

  a:link,
  a:hover,
  a:visited {
    text-decoration: none;
    color: black;
  }
}
