<h1>YerbaVibes</h1>
<nav>
  <ul class="desktop" [class.active]="showMenu">
    <li>
      <p>Home</p>
      <hr />
    </li>
    <li>
      <p>Shop</p>
      <hr />
    </li>
    <li>
      <p>About</p>
      <hr />
    </li>
    <li>
      <p>Contact</p>
      <hr />
    </li>
  </ul>
  <img
    (click)="onShowMenu()"
    src="assets/images/chevron-down.svg"
    class="icon mobile"
    [class.activeButton]="showMenu"
    alt="menu"
  />
</nav>
<div class="right-panel">
  <ul>
    <li><img class="icon" src="assets/images/cart.svg" alt="cart" /></li>
    <li><img class="icon" src="assets/images/search.svg" alt="search" /></li>
    <li><img class="icon" src="assets/images/person.svg" alt="user" /></li>
  </ul>
</div>
