/* h1	3.0
h2	2.5	
h3	2.0
h4	1.7	
h5	1.4
h6	1.2
p	1
*/

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  left: 0;
  color: #dde3d1;
}

h1 {
  font-size: 3rem;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 1.25rem;
  font-size: 1.7rem;
}

li {
  font-weight: 700;
}
