<div class="z-pattern">
  <div class="z-left">
    <div class="content left">
      <h3>Natural Energy Boost</h3>
      <hr />
      <article>
        Yerba mate provides a steady and balanced energy boost without the
        jitters often associated with coffee. Packed with vitamins, minerals,
        and antioxidants, it naturally enhances physical endurance and mental
        clarity. Start your day with a refreshing and sustained energy lift.
      </article>
    </div>
    <div class="image-box">
      <img src="assets/images/home/benefits/energy.svg" alt="energy" />
      <div class="circle"></div>
    </div>
  </div>
  <div class="z-right">
    <div class="image-box">
      <img
        src="assets/images/home/benefits/heart-muscle-icon.svg"
        alt="heart"
      />
      <div class="circle"></div>
    </div>

    <div class="content right">
      <h3>Supports Heart Health</h3>
      <hr />
      <article>
        Yerba mate is beneficial for cardiovascular health. It contains
        compounds that help reduce cholesterol levels and improve blood
        circulation, promoting a healthy heart. Sip yerba mate daily to support
        your heart and overall well-being.
      </article>
    </div>
  </div>
  <div class="z-left">
    <div class="content left">
      <h3>Enhanced Mental Focus</h3>
      <hr />
      <article>
        Yerba mate is known for its ability to improve mental clarity and focus.
        The unique combination of caffeine, theobromine, and other natural
        compounds promotes alertness and concentration without the crash.
        Perfect for work, study, or any time you need a mental edge.
      </article>
    </div>
    <div class="image-box">
      <img src="assets/images/home/benefits/brain.svg" alt="brain" />
      <div class="circle"></div>
    </div>
  </div>
</div>
