.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spacing {
  margin: 3rem 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--main-color);
}

.wrapper hr {
  width: 50%;
  height: 1px;
  margin: 0 auto;
  border: none;
  background-color: var(--second-color);
}

@media (max-width: 820px) {
  .hero-section {
    flex-direction: column;
    gap: 4rem;
  }
}
