.wrapper {
  height: 100%;
  background-color: white;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.pagination {
  width: 60%;
  margin: 0 auto;
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.pagination-item {
  cursor: pointer;
  padding: 1rem;
}

.pagination img {
  width: 2rem;
  height: 2rem;
}

.pagination button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.active {
  font-weight: 700;
  font-size: 1.5rem;
}

.no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-products p {
  font-size: 3rem;
}
